html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-image:  linear-gradient(-65deg, #00FFFF, #7C00FF, #E73C7E);
  font-family: sans-serif;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
}

#navigation {

}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #222;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: block;
  padding: 8px 20px 8px 20px;
  color: #333;
  text-decoration: none;
}

nav .active {
  background-color: #3ABBFF;
  color: #FFF;
}

nav li a:hover {
  background-color: #333;
  color: #FFF;
}

#header {
  background-color: #444;
  color: #FFF;
  padding: 5px;
  text-align: bottom;
}

#container {
  width: 80%;
  min-height: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #333;
  color: #FFF;
}

#box {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #555;
}

#infoTable tr td {
  vertical-align: bottom;
}

img {
  border-radius: 10px;
}

#pInfo {
  padding-left: 20px;
}

h2 {
  margin: 20px 0px 0px 0px;
}

#schedule, #tools {
  table-layout: fixed;
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

 #schedule th, #tools th {
  border: 2px solid black;
  padding: 10px;
  background-color: #7C00FF;
}

#schedule td, #tools td {
  border: 2px solid black;
  padding: 10px;
  background-color: #555;
}

#c1 {
  width: 30%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#222;
  color:white;
  text-align:right;
}
